@import "reset";

* {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px 5px;
}

.container {
  background-color: lightblue;
  width: calc(100%-12rem);
  max-width: 70rem;
  margin: 0 auto;
}

div[class^="col-"] {
  background: pink;
  border: 1px solid red;
  text-align: center;
  padding: 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

$cols: 12;

@for $i from 1 through $cols {
  .col-#{$i} {
    flex: 0 0 100% / $cols * $i;
  }
  .col-offset-#{$i} {
    margin-left: 100% / $cols * $i;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $i * 2rem;
    line-height: $i * 2.6rem;
  }
}
